yarl<1.2
uvloop==0.10.1
pynamodb==3.3.0
pluginbase==0.7
psutil==5.4.6
html2text==2018.1.9
osuapi==0.0.28
python-fity3==0.7
regex==2018.06.06
aiobotocore==0.9.2
tweepy==3.6.0
reportlab==3.4.0
ruamel.yaml==0.15.46
albatross3==0.6.3
pillow==5.1.0
raven==6.9.0
datadog==0.21.0
-e git+https://github.com/Kelwing/discord.py.git@rewrite#egg=discord.py
ddtrace==0.12.0
urbandictionary==1.1
apscheduler==3.5.1
redis==2.10.6
pytz==2018.4
sqlalchemy==1.2.8
pylru==1.1.0
gitpython==2.1.10
flake8==3.5.0
dateparser==0.7.0
