yarl<1.2
uvloop==0.10.0
pynamodb==3.3.0
pluginbase==0.7
psutil==5.4.5
html2text
osuapi
python-fity3
aiobotocore==0.8.0
regex
tweepy
reportlab
ruamel.yaml
albatross3
pillow
raven==6.9.0
datadog
-e git+https://github.com/Kelwing/discord.py.git@rewrite#egg=discord.py
ddtrace
urbandictionary
apscheduler
redis
pytz
sqlalchemy==1.2.8
pylru==1.1.0
gitpython==2.1.10
flake8==3.5.0
