uvloop
pynamodb
pluginbase
psutil
html2text
osuapi
python-fity3
regex
aiobotocore
tweepy
reportlab
ruamel.yaml
albatross3
pillow
raven
datadog
-e git+https://github.com/Kelwing/discord.py.git@rewrite#egg=discord.py
ddtrace
urbandictionary
apscheduler
redis
sqlalchemy
pytz
pylru
gitpython
flake8
dateparser
colorlog
